.wrapper {
  width: 90%;
  max-width: 34.37em;
  max-height: 90vh;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em;
  border-radius: 1em;
  box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

#wheel {
  max-height: inherit;
  width: inherit;
  top: 0;
  padding: 0;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

#spin-btn {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 26%;
  width: 26%;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  background: radial-gradient(#fdcf3b 50%, #d88a40 85%);
  color: #c66e16;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 600;
}

/* Ajustamos este estilo para que solo afecte a las imágenes dentro de .wrapper */
.wrapper img {
  position: absolute;
  width: 4em;
  top: 45%;
  right: -8%;
}

#final-value {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1.5em;
  color: #202020;
  font-weight: 500;
}

/* Estilos responsivos para pantallas medianas */
@media screen and (max-width: 768px) {
  .wrapper {
    font-size: 12px;
    padding: 2em;
  }

  .wrapper img {
    right: -5%;
  }

  #spin-btn {
    height: 22%;
    width: 22%;
    font-size: 1.2em; /* Ajustamos el tamaño de la fuente en el botón */
  }

  #final-value {
    font-size: 1.2em; /* Ajustamos el tamaño del texto final */
    margin-top: 1em;
  }
}

/* Estilos responsivos para pantallas pequeñas (móviles) */
@media screen and (max-width: 480px) {
  .wrapper {
    padding: 1.5em; /* Reducimos el padding en pantallas pequeñas */
    box-shadow: 0 2em 3em rgba(27, 8, 53, 0.2);
  }

  .wrapper img {
    right: -3%;
    width: 3em; /* Reducimos el tamaño de la imagen en pantallas pequeñas */
  }

  #spin-btn {
    height: 18%;
    width: 18%;
    font-size: 1em; /* Ajustamos el tamaño de la fuente en el botón */
  }

  #final-value {
    font-size: 1em; /* Ajustamos el tamaño del texto final en pantallas pequeñas */
    margin-top: 0.8em;
  }
}
